* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-image: url(./image/image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
}

.nav {
    background-color: #b4d6bb;
    width: 100%;
    height: 90px;
    position: relative;
    font-family: Georgia, Times, 'Times New Roman', 'serif';
    font-weight: bolder;
    background: rgba(0,0,0,0.5)
}

.logo {
    width: 30%;
    position: fixed;
    top: 0;
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.image-logo {
    position: relative;
    left: -27px;
    z-index: -1;
    bottom: 10px;
}


.nav a {
    text-decoration: none;
    font-size: 2em;
    color: white;
}

.nav-links {
    float: right;
    position: relative;
    padding: 2em;
}

.nav-links a {
    margin-right: 0.5em;
    padding: 0.5em;
    text-transform: uppercase;
    font-size: 1.3em;
    border: 2px solid goldenrod;
    text-align: center;
    border-radius: 2em;
    color: #b4d6bb;
    background-color: rgba(0, 0, 0, 0.497) ;
}

.content {
    display: flex;
    width: 100%;
    position: relative;
    color: honeydew;
    font-size: 1.3em;
}

.bio {
    width: 36%;
    padding-top: 10%;
    position: sticky;
    top: 0;
    left: 0;
    padding-right: 2em;
    padding-left: 2em;
    align-self: flex-start;
    background-color: rgba(97, 132, 238, 0.15);
    z-index: 1;
    height: 100vh;
    color: #E7E5BC;
    line-height: 1.5em;
}

#profile-image img{
    border-radius: 50%;
}

.msg {
    position: relative;
    line-height: 1.8em;
    font-size: 1.3rem;
    padding: 50px;
    color: #BABCE6;
}

.msg h2{
    padding: 1em;
    text-align: center;
}

.msg h2::before {
    content: '';
    height: 4px;
    display: block;
    width: 50%;
    position: absolute;
    top: 70px;
    left: 70px;
    background: white;
}


@media screen and (max-width: 670px){
    .nav {
        height: 80px;
    }
    
    #logo {
        font-size: 0.8em;
    }

    .logo {
        padding-top: 15px;
        padding-left: 10px;
        width: 200px;
        z-index: 3;
        font-weight: bolder;
    }
    
    .image-logo{
        bottom: 8px;
        left: -15px;
    }

    .image-logo img {
        width: 60px;
        height: 60px;
        
    }
    
    .nav a {
        text-decoration: none;
        font-size: 1em;
        color: white;
    }

    .nav-links {
        display: none;
    }

    .bio {
        padding-top: 20%;
        padding-right: 0.5em;
        padding-left: 0.5em;
        line-height: 1em;
        font-size: 0.8em;
        height: 230px;
        width: 100%;
        background-image: linear-gradient(to top left, rgba(132, 158, 236, 0),#36558F, #5433ff, #36558F, #429bb8 );
    }

    

    #bio {
        height: auto;
        display: flex;
        justify-content: space-evenly;
    }

    #profile-image img{
        width: 90px;
        height: 90px;
    }

    .info {
        text-align: left;
        line-height: 1.4em;
        width: 60%;
        font-family: monospace;
        font-size: 1.2em;
        font-weight: bold;
    }

    .info a {
        color: thistle;
    }

    
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        color: honeydew;
        font-size: 1em;
        height: 30%;
    }

    
    #profile-image img{
        border-radius: 50%;
    }
    
    .msg {
        position: relative;
        line-height: 1.5em;
        font-size: 1rem;
        padding: 20px 10px 10px 30px ;
        color: #e4e5f7;
        font-weight: bold;
        overflow: hidden;
    }


    .msg h2::before {
        top: 30px;
    }


}

@media screen and (min-width:670px) and (max-width: 900px){
    .nav {
        height: 100px;
    }
    
    #logo {
        font-size: .75em;
    }

    .logo {
        padding-top: 10px;
        padding-left: 5px;
        width: 350px;
        z-index: 3;
        font-weight: bolder;
        overflow: hidden;
    }

    #profile-image img{
        width: 180px;
        height: 180px;
    }

    .bio {
        width: 800px;
        padding-top: 11%;
        padding-right: 0.5em;
        padding-left: 0.7em;
        font-size: 0.75em;
    }

    .msg {
        position: relative;
        line-height: 1.5em;
        padding: 20px 10px 10px 30px ;
        overflow: hidden;
        font-size: 1.2rem;
    }


    .msg h2::before {
        top: 30px;
    }

    .nav-links a {
        font-size: 1.2em;
        border: 1px solid rgb(223, 203, 153);
    }
}
